APP_DATA_DIR=./data
APP_ENCRYPTION_KEY=change-this-key
APP_BOOTSTRAP_ADMIN_USERNAME=admin
APP_BOOTSTRAP_ADMIN_PASSWORD=admin
APP_SESSION_TTL_HOURS=12
APP_TFTP_IP=
BASE_IMAGE=mcr.microsoft.com/devcontainers/python:3.11-bookworm

# Switch automation defaults (replaces Constants.sh)
DEBUG=false
DEVICE_IP=switch.lan.homelab
DEVICE_NAME=T1600G-28TS
DEVICE_LOCATION=DC-BR-SE-AJU-SWITCH-01
DEVICE_CONTACT_INFO=bHNhbXBhaW93ZWJAZ21haWwuY29tCg==
USER_ADMIN=admin
USER_ADMIN_PASSWORD_KEY=switch-user-admin
USER_BOT=switch-user-bot
USER_BOT_PRIVILEGE=admin
PASSWORD_LENGTH=10
TFTP_USER_GROUP=tftp:tftp
TFTP_DIRECTORY=./data/runtime-default/tftp/
TFTP_CONFIG_DIRECTORY=/etc/default/tftpd-hpa
TFTP_SERVICE_NAME=tftpd-hpa
SSH_VERSION=v2
SSH_PUBLIC_KEY_PATH=./data/runtime-default/ssh/
SSH_PUBLIC_KEY_NAME=id_rsa_tplink
SSH_CONFIG_FILE=config
TIME_ZONE=UTC-03:00
PRIMARY_NTP_SERVER=200.160.7.186
SECONDARY_NTP_SERVER=200.160.0.8
NTP_UPDATE_RATE=12
IP_REMOTE_LOGGING_SERVER=10.0.2.5
LOG_LEVEL=6
HTTPS_FILES_PATH=./data/runtime-default/certificates/
HTTPS_CERTIFICATE=switch.lan.homelab.crt
HTTPS_CERTIFICATE_KEY=switch.lan.homelab.key
HTTPS_CERTIFICATE_SHORT_NAME=certificate.crt
HTTPS_CERTIFICATE_KEY_SHORT_NAME=certificate.key
SIZE_OF_JUMBO_FRAME=9216
SDM_PREFERENCE=enterpriseV4
EEE_INTERFACES=1/0/1-24
EEE_LACPS=1-6
OPTION_FOLDER=option
LACP_LOAD_BALANCE=src-dst-mac
LACP_PATH_OF_GROUPS_VARIABLES=option/lacp/*.sh
VLAN_PATH_OF_VARIABLES=option/vlan
VLAN_PATH_OF_VARIABLES_WITH_FILTER=option/vlan/*.sh
STATIC_ROUTE_DESTINATION_IP=0.0.0.0
STATIC_ROUTE_SUBNET_MASK=0.0.0.0
STATIC_ROUTE_DEFAULT_GATEWAY_IP=192.168.0.2
STATIC_ROUTE_DEFAULT_GATEWAY_DISTANCE=1
FIRMWARE_FILE_NAME=T1600G-28TS(UN)_V1_160412
FIRMWARE_URL=https://static.tp-link.com/res/down/soft/T1600G-28TS(UN)_V1_160412.zip
FIRMWARE_PATH=firmware/
BACKUP_PATH=backup/
BACKUP_NAME=backup-startup-config-
BACKUP_EXTENSION=.cfg
