### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# VSCode
.vscode/*

### HTTPS Certificates ###
certificate/*.crt
certificate/*.key
certificate/*.pem

### Firmware ###
firmware/*.zip

### Backup ###
backup/backup*

### Python / FastAPI ###
__pycache__/
*.pyc
.pytest_cache/

### Runtime Data ###
data/
.env
